/* Container của bảng */
.table-wrapper {
  margin: 16px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px; 
  overflow: hidden; 
}

/* Thêm khả năng scroll cho bảng */
.table-container {
  overflow-x: auto;
}

/* Cấu trúc bảng */
.custom-table {
  width: 100%;
  min-width: 650px;
  border-collapse: collapse;
}

/* Các header trong bảng */
.table-header {
  background-color: #cbd5e1;
  padding: 12px;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #e0e0e0;
  border-right: 0.5px solid #e0e0e0;
}

/* Hover khi di chuột vào dòng bảng */
.table-row {
  transition: background-color 0.2s;
}

.table-row:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

/* Các ô trong bảng */
.table-cell {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 0.5px solid #e0e0e0;
}

/* Cột tùy chọn (Options) */
.options-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

/* Các button sửa */
.edit-button {
  color: #ced6d8 !important;
  margin-right: 8px !important;
  width: 35px;
}

.edit-button:hover {
  background-color: rgba(33, 150, 243, 0.1) !important;
}

/* Các button xóa */
.delete-button {
  color: #ced6d8 !important;
  width: 35px;
}

.delete-button:hover {
  background-color: rgba(244, 67, 54, 0.1) !important;
}

/* Phân trang */
.numberOfPageContainer {
  display: flex;
  justify-self: right;
  margin-top: 20px;
  flex: 1;
  align-items: center;
}

/* Tổng thể của trang đơn hàng */
.orderPage {
  height: 100%;
}
