.service-card {
    width: 100%;
    max-width: 370px;
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #e5e7eb;
    position: relative;
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.editdelte-icon{
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
}
.deleteservice-button {
    position: absolute;
    right: 35px;
    width: 25px;
    height: 25px;
    background-color: #fff7ed;
    border-radius: 9999px;
    border-color: #fe6a00;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteservice-button:hover {
    background-color: #fed7aa;
}

.editservice-button {
    width: 25px;
    height: 25px;
    background-color: #fff7ed;
    border-radius: 9999px;
    border: 1px solid #fe6a00;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 30px;
}

.deleteservice-button {
    width: 25px;
    height: 25px;
    background-color: #fff7ed;
    border-radius: 9999px;
    border: 1px solid #fe6a00;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.editservice-button:hover,
.deleteservice-button:hover {
    background-color: #fed7aa;
}

.editservice-icon,
.deleteservice-icon {
    width: 20px;
    height: 20px;
    color: #f97316;
}
.service-row {
    display: flex;
    align-items: center;
    gap: 18px;
}

.service-image-container {
    width: 75px; 
    height: 75px;
    flex-shrink: 0;
    border-radius: 9999px;
    overflow: hidden;
}

.service-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-column {
    display: flex; 
    flex-direction: column;
    gap: 7px;
}

.service-name {
    font-weight: 600;
    color: #e79600;
    margin: 0;
    line-height: 1.2;
    font-size: 20px;
}

.service-code,
.service-description,
.service-price {
    font-size: 15px;
    color: #000000;
    line-height: 1.3;
}

.service-price {
    font-weight: 500;
    color: #000000;
}
