.tab-bar-container.default-style {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.tab-bar-container.custom-style  {
    width: fit-content;
    background-color: #0E343D;
    padding: 5px;
    border-radius: 10px;
}

.tab-bar {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.tab-bar::-webkit-scrollbar {
    display: none;
}

.tab-item.default-style {
    padding: 0.5rem 1rem;
    min-width: fit-content;
    white-space: nowrap;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #86999E;
    border: 2px solid #efb16a00;
    outline: none;   
    font-family: 'Baloo 2', sans-serif;
    background-color: white;
}

.tab-item.custom-style  {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    min-width: fit-content;
    white-space: nowrap;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.577);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;   
    font-family: 'Baloo 2', sans-serif;
}

.tab-item.default-style:hover {
    color: #374151;
}
.tab-item.custom-style:hover {
    color: white;
    border: none;
}

.tab-item.default-style.active {
    color: #0E343D;
    border-bottom: 2px solid #EFB26A;
}
.tab-item.custom-style.active {
    color: #0E343D;
    background-color: white;
    border: none;
    font-family: 'Baloo 2', sans-serif;
}



.page-header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e5e7eb;
}

.page-title {
    font-size: 1.125rem;
    font-weight: 600;
}

.page-content {
    padding: 1rem;
}

.content-text {
    color: #4b5563;
}