.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.calendarCard {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 16px;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.monthTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.navigationButton {
  background: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.navigationButton:hover {
  background: #f5f5f5;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  text-align: center;
}

.dayHeader {
  font-weight: bold;
  padding: 8px;
}

.dayCell {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.dayCell:hover {
  background: #f5f5f5;
}

.selectedDay {
  background: #CED6D8;
}

.currentDay {
  font-weight: bold !important;
  color: #567077
}

.workDay {
  color: #EFB26A;
}

.scheduleCard {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 16px;
}

.scheduleHeader {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.shiftContainer {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.shiftHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.shiftTitle {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.buttonGroup {
  display: flex;
  gap: 8px;
}

.button {
  background: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.button:hover {
  background: #f5f5f5;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.employeeCount {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
}

.employeeList {
  font-size: 0.9rem;
}

.employee-selector {
  margin-top: 10px;
}

.employee-dropdown select { 
  width: 100%;
  padding: 8px 0px 8px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.selected-employees {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.employee-tag {
  background-color: #CED6D8;
  border-radius: 16px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.remove-button {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  padding: 0 4px;
}

.remove-button:hover {
  color: #f44336;
}

.loading {
  text-align: center;
  padding: 20px;
  color: #666;
}

.dayCell.hasSchedule {
  background-color: red;
  color: white;
}
